snippet section-mq
  #

  ::: {.columns .v-center-container}
  ::: {.column width="35%"}

  ![](MQ-diag-partial.png)

  :::
  
  ::: {.column width="65%"}

  [${1:Heading}]{.section-header-text}

  [${2:Subheading}]{.section-subheader-text}

  :::
  :::