snippet mq-presentation-section
  #

  ::: {.columns .v-center-container}
  ::: {.column width="35%"}

  ![](MQ-diag-partial.png)

  :::
  
  ::: {.column width="65%"}

  [${1:Heading}]{.section-header-text}

  [${2:Subheading}]{.section-subheader-text}

  :::
  :::
  
snippet mq-presentation-slide
  ## ${1:Heading}
  
  ### ${2:Subheading}
  
  <hr size="2rem" color="#373A36">